@{
    ViewData["Title"] = "Home Page";
}

<style>
    .user-item{
        cursor: pointer
    }

    .user-item:hover {
        background-color: lightgray;
    }

    .status {
        width: 10px;
        height: 10px;
        background-color: green;
        border-radius: 50%;
        margin-left: 5px;
    }
</style>
<link rel="stylesheet" href="~/css/chat-modal.css" asp-append-version="true" />

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    </div>
    <div class="col-md-3">
        <h2>Danh sách bạn bè</h2>
        @foreach (var friend in ViewBag.Friends)
        {
            <div class="user-item d-flex align-items-center p-2 rounded-3" onclick="OpenChat(@friend.Friend1Navigation.Id  )">
                <div class="position-relative me-3">
                    <img src="https://scontent.fhph3-1.fna.fbcdn.net/v/t39.30808-6/468506906_1256036072118428_4942223550658486191_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeEQK9c8Erk1osghBe-iLGTP80y1j86jgnDzTLWPzqOCcFp43_soIcOH-SgZ2N1HPKfjF5lDVXpHz2u2WvwKRG5e&_nc_ohc=xmhkTmmd_-UQ7kNvgFe8JLN&_nc_zt=23&_nc_ht=scontent.fhph3-1.fna&_nc_gid=A8hTjWMNToDzy-uWA3XutgG&oh=00_AYDg8gia24jSfqf-DSpruaHW4NT1SHj4nMkdknyB-daCYg&oe=67999707" 
                    alt="Avatar of @friend.Friend1Navigation.Name" 
                    class="rounded-circle" 
                    width="30" height="30"> 
                    <div class="status rounded-circle border border-white border-2 position-absolute bottom-0 end-0 "></div>
                </div>
                <span>@friend.Friend1Navigation.Name</span>
            </div>
        }
    </div>
</div>

<div id="chat-modal" class="chat-modal position-fixed">
</div>
<script src="~/js/chat-modal.js" asp-append-version="true"></script>

