@{
    ViewBag.Title = "Reset Password";
}
@{
    Layout = "_EmptyLayout";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4 text-center" style="max-width: 400px; width: 100%;">
        <h2 class="text-primary">Reset Your Password</h2>
        <p>Please enter your new password below.</p>

        <form method="post" action="@Url.Action("ResetPassword", "ForgotPassword")">
             <input type="hidden" name="email" value="@ViewBag.UserEmail" />
            <div class="mb-3 position-relative">
                <input type="password" class="form-control"  minlength="5" id="newPassword" name="newPassword" placeholder="New Password" required>
                <span class="toggle-password position-absolute end-0 top-50 translate-middle-y me-3" onclick="togglePassword('newPassword', 'eyeIcon1')">
                    <i id="eyeIcon1" class="bi bi-eye-slash"></i>
                </span>
            </div>
            <div class="mb-3 position-relative">
                <input type="password" class="form-control"  minlength="5" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
                <span class="toggle-password position-absolute end-0 top-50 translate-middle-y me-3" onclick="togglePassword('confirmPassword', 'eyeIcon2')">
                    <i id="eyeIcon2" class="bi bi-eye-slash"></i>
                </span>
            </div>
            <div>@if (!string.IsNullOrEmpty(ViewBag.ResetFail))
            {
                 <p style="color: red;margin-left: 130px;">@ViewBag.ResetFail</p>
            } </div>
            <div>@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
                {
                     <p style="color: red;margin-left: 130px;">@ViewBag.SuccessMessage</p>
                } </div>
            <button type="submit" class="btn btn-success w-100">Reset Password</button>
        </form>
    </div>
</div>
<script>
    function togglePassword(inputId, eyeIconId) {
        let passwordInput = document.getElementById(inputId);
        let eyeIcon = document.getElementById(eyeIconId);

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeIcon.classList.replace("bi-eye-slash", "bi-eye");
        } else {
            passwordInput.type = "password";
            eyeIcon.classList.replace("bi-eye", "bi-eye-slash");
        }
    }
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
